/* src/App.css */
.movie-app {
  text-align: center;
  font-family: Arial, sans-serif;
}

.tabs {
  margin: 20px 0;
}

.tabs button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #032541;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tabs button:hover {
  background-color: #03b3e3;
}

.search-bar {
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background-color: #032541;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #03b3e3;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-item {
  width: 200px;
  text-align: center;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  background-color: #032541;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #03b3e3;
}

.pagination p {
  font-size: 18px;
  color: #032541;
}
